body {
  background-color: beige;
}

.input-form {
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: green;
  max-width: 400px;
}

.input-habit,
.input-date,
.input-note {
  margin-bottom: 10px;
}

.note-text {
  margin-top: 10px;
}

.button-input {
  display: flex;
  gap: 30px;
}
